# Dependencies
/node_modules
/jspm_packages/
/.npm/
/.eslintcache
*.tgz

# Testing and debugging
/coverage/
.nyc_output/
/installed_tests/

# Optional npm cache files
.npmrc
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.development
.env.test
.env.production

# TypeScript files
*.ts
!*.d.ts

# Compiled JavaScript files
/dist/
/build/
/docs/
/esnext/
/lib/
/tmp/
*.js
!*.js.map

# IDE and editor files
.idea/
.vscode/
*.swp
.DS_Store
.cache/
.project
.settings/

# OS and temporary files
.gitignore.orig
.npm
.lock-wscript
.wafpickle-*
.gn
.target.mk
.codesplits
*.node
*.pyc
*.qbs
*.snapshot
/test/tmp
/test/fixtures/traces